# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\USER\Documents\FISE\FISE 2A\UE 4.2 - Traitement de l'information\UE 4.2 - Conception Logicielle\Projet\EnstarDesktop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
